
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
        <form (submit)="onLogin()" #loginForm="ngForm" novalidate>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control"
                       [(ngModel)]="loginViewModel.Email"
                       name="Email"
                       #email="ngModel"
                       required />
                <div class="text-danger"
                     *ngIf="email.touched && email.invalid && email.errors.required">Email is required</div>
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control"
                       [(ngModel)]="loginViewModel.Password"
                       name="Password"
                       #password="ngModel"
                       required />
                <div class="text-danger"
                     *ngIf="password.touched && password.invalid && password.errors.required">
                    Password is required
                </div>
            </div>
            <div class="form-group">
                <input type="submit"
                       [disabled]="loginForm.invalid"
                       class="btn btn-primary"
                       value="Login" />&nbsp;
                <a routerLink="/" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>