
<div class="row">
    <div class="col-md-12">
        <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <input type="text" placeholder="Search..."
                       [(ngModel)]="searchCriteria"
                       class="form-control mb-10" />
            </div>
            <div class="col-auto">
                <button class="btn btn-success mb-2" (click)="searchFeedItems()">Search</button>

            </div>
        </div>
            <hr />

            <div *ngIf="feedItemResults">
                <b>Results:</b><br />
                <hr />
                <div *ngFor="let feedItem of feedItemResults">
                    <b>{{feedItem.heading}}</b>
                    <br />
                    <p>{{feedItem.shortDescription}}</p>
                    <p>{{feedItem.longDescription}}</p>
                    <p class="text-right">Published: {{ feedItem.datePublished | date}}</p>
                    <hr />
                </div>
            </div>


        </div>
</div>