
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
        <form (submit)="onRegister()" #registerForm="ngForm" novalidate>
            <div class="alert alert-warning">All fields are required</div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control"
                       [(ngModel)]="registerViewModel.Email"
                       name="Email"
                       #email="ngModel"
                       required />
                <div class="text-danger"
                     *ngIf="email.touched && email.invalid && email.errors.required">Email is required</div>
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control"
                       [(ngModel)]="registerViewModel.Password"
                       name="Password"
                       #password="ngModel"
                       required />
                <div class="text-danger"
                     *ngIf="password.touched && password.invalid && password.errors.required">
                    Password is required
                </div>
            </div>
            <div class="form-group">
                <label for="FirstName">First Name</label>
                <input type="text" class="form-control"
                       [(ngModel)]="registerViewModel.FirstName"
                       name="FirstName"
                       #firstname="ngModel"
                       required />
                <div class="text-danger"
                     *ngIf="firstname.touched && firstname.invalid && firstname.errors.required">First Name is required</div>
            </div>
            <div class="form-group">
                <label for="LastName">Last Name</label>
                <input type="text" class="form-control"
                       [(ngModel)]="registerViewModel.LastName"
                       name="LastName"
                       #lastname="ngModel"
                       required />
                <div class="text-danger"
                     *ngIf="lastname.touched && lastname.invalid && lastname.errors.required">Last Name is required</div>
            </div>
            <div class="form-group">
                <input type="submit"
                       [disabled]="registerForm.invalid"
                       class="btn btn-primary"
                       value="Register" />
                <a href="#" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>