<div class="row">
    <div class="col-md-12">
        <div *ngIf="errorMessage" class="alert alert-warning">{{errorMessage}}</div>
        <div *ngFor="let feedItem of feedItems">
            <b><i>{{feedItem.heading}}</i></b>
            <br />
            <p>{{feedItem.shortDescription}}</p>
            <p>{{feedItem.longDescription}}</p>

            <p *ngIf="feedItem.youtubeVideoId">
                <yt-video videoid="{{feedItem.youtubeVideoId}}"></yt-video>

            </p>
            <hr />
        </div>
    </div>
</div>